clusters:
  - alias: "staging"
    name: "kboot-staging-cluster"
    region: "us-east-1"
    profile: "localstack"

  - alias: "production"
    name: "kboot-production-cluster"
    region: "us-east-1"
    profile: "localstack"
